/*komentarz lub CTRL + /  */ 

/* body{
    color:black;
} */

/* h3,p{
    color: bisque;
} */

/* sup.sup_element {
    color: red;
} */

/* footer p {
    color: red;
} */

/* div#nazwadiva tagowanie divów  */

/* :hover zmienia kolor tekstu linku itd po najechaniu na niego kursorem */
/* table tr:first-child{
    color: blue;  pseudo klasy
} */




